/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#boxed {
  margin-bottom: 8px;
  border-radius: 15px;
  
}

.darkBlack {
  background-color: #4D4D4D;
}

.whiteSnow {

  background-color: #FFFBFC;
}

.romanSilver {
  background-color: #818D92;
}

.champagneColor {
  background-color: #CFCCD6;
}

h2{
  color: #4E5340 !important;
} 

h3 {
  color: #818D92 !important;
}

@media only screen and (max-width: 992px) {
  #menuLogo{
    margin-top: 5%;
    height: 52px;
    width: 52px;
  }
  
}

#videiraLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}